<div class="slideshow lightbox u-space-bottom-3">
    {{ with .Get "url" }}
    {{ $url := . }}
    {{ $slides := getJSON $url }}
    {{ range first 1 $slides }}
    <a class="slideshow__trigger lb-image" href="{{ .src }}" title="{{ .caption }}">
        View Slideshow
        <svg class="icon bootspictures">
            <use xlink:href="#bootspictures"></use>
        </svg>
    </a>
    {{ end }}
    <div class="slideshow__slides">
        {{ range $slides }}
        <a href="{{ .src }}" class="lb-image" title="{{ .caption }}">
            <img src="{{ .src }}" alt="{{ .caption }}">
        </a>
        {{ end }}
    </div>
    {{ end }}
</div>
